{% set active page = 'dashboard' %}
{% set active page = 'add_entry' %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand bg-warning p-3 rounded-5" style="box-shadow: .5rem .5rem 1rem 0 rgba(255, 193, 7, .7)" href="#">Solar Power Calculator</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link {% 'active' if active_page = 'dashboard' else '' %} text-primary" aria-current="page" href="#">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% 'active' if active_page = 'add_entry' else '' %}" href="#">Add entry</a>
        </li>
      </ul>
    </div>
  </div>
</nav>