{% extends 'calculator/_base.html' %}

{% block title %}{% endblock %}

{% block content %}

<h5 class="mt-5">The form adds a new entry on a new line on the next day of power generation with a solar system</h5>
<div class="card-body">
    <form method="post" class="card-text">
        {% csrf_token %}
        <div class="row">
            <div class="col-xxl-3 bg-light p-3">
                <div class="col-xxl-12">
                    <div class="mb-3">
                        <label for="{{ form.date.id_for_label }}" class="form-label">Дата</label>
                        {{ form.date }}
                        {% if form.date.errors %}
                        <div class="text-danger">{{ form.date.errors }}</div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-xxl-12">
                    <div class="mb-3">
                        <label for="{{ form.power.id_for_label }}" class="form-label">Джерело енергії</label>
                        {{ form.power }}
                        {% if form.power.errors %}
                        <div class="text-danger">{{ form.power.errors }}</div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-xxl-12">
                    <div class="mb-3">
                        <label for="{{ form.weather.id_for_label }}" class="form-label">Погода</label>
                        {{ form.weather }}
                        {% if form.weather.errors %}
                        <div class="text-danger">{{ form.weather.errors }}</div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-xxl-9 p-3">
                <div class="row">
                    <div class="col-xxl-6">
                        <div class="mb-3">
                            <label for="{{ form.morning_data_charge.id_for_label }}" class="form-label">Morning
                                charge
                                (%)</label>
                            {{ form.morning_data_charge }}
                            {% if form.morning_data_charge.errors %}
                            <div class="text-danger">{{ form.morning_data_charge.errors }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-xxl-6">
                        <div class="mb-3">
                            <label for="{{ form.morning_data_price.id_for_label }}" class="form-label">Morning
                                used
                                energy price
                                (₴)</label>
                            {{ form.morning_data_price }}
                            {% if form.morning_data_price.errors %}
                            <div class="text-danger">{{ form.morning_data_price.errors }}</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xxl-6">
                        <div class="mb-3">
                            <label for="{{ form.afternoon_data_charge.id_for_label }}" class="form-label">Afternoon
                                charge
                                (%)</label>
                            {{ form.afternoon_data_charge }}
                            {% if form.afternoon_data_charge.errors %}
                            <div class="text-danger">{{ form.afternoon_data_charge.errors }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-xxl-6">
                        <div class="mb-3">
                            <label for="{{ form.afternoon_data_price.id_for_label }}" class="form-label">Afternoon
                                used
                                energy price
                                (₴)</label>
                            {{ form.afternoon_data_price }}
                            {% if form.afternoon_data_price.errors %}
                            <div class="text-danger">{{ form.afternoon_data_price.errors }}</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xxl-6">
                        <div class="mb-3">
                            <label for="{{ form.evening_data_charge.id_for_label }}" class="form-label">Evening
                                charge
                                (%)</label>
                            {{ form.evening_data_charge }}
                            {% if form.evening_data_charge.errors %}
                            <div class="text-danger">{{ form.evening_data_charge.errors }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-xxl-6">
                        <div class="mb-3">
                            <label for="{{ form.evening_data_price.id_for_label }}" class="form-label">Evening
                                used
                                energy price
                                (₴)</label>
                            {{ form.evening_data_price }}
                            {% if form.evening_data_price.errors %}
                            <div class="text-danger">{{ form.evening_data_price.errors }}</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary w-25">Add entry</button>
    </form>
</div>

{% endblock %}
